<h1>Lookup Restaurant</h1>

<%= form_tag(restaurant_search_path, :method => "get", id: "search-form") do %>
    <%= label_tag :restaurant_name %>
    <%= text_field_tag :restaurant_name %>
   <div class="submit-btn">
      <%=image_tag("http://image.flaticon.com/icons/svg/53/53864.svg")%>
      <%= submit_tag "Search", :class => "submit" %>
    </div>
<% end %>
