<% if @restaurants[0] %>

  <% @restaurants.each do |restaurant| %>
    <h3><%=  restaurant.aka_name %></h3>

    <h5><%= restaurant.address %></h5>
    <h5><%= restaurant.city %> <%= restaurant.state %></h5>

    <ul>
      <li><%= restaurant.inspection_type %></li>
      <li><%= restaurant.inspection_date %></li>
      <li><%= restaurant.results %></li>
      <li><%= restaurant.violations %></li>
    </ul>
  <% end %>
<% else %>
    <h5>No restaurant found, try again</h5>
<% end %>


