<!DOCTYPE html>
<html>
<head>
  <title>RestaurantCodes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Tangerine">
</head>
<body>

<div class="clipboard">
  <%=image_tag("clipboard.svg.png")%>
  <section>
  <%= yield %>
</section>
</div>

  <div class="chef">
    <%=image_tag("chef.svg")%>
  </div>
</body>
</html>
